<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/cicada"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GoldZen_1"
        tools:targetApi="31">
        <activity
            android:name=".Game7Activity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Game8Activity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Game4Activity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RankRecordActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Game10Activity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Game5Activity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Game6Activity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Game3Activity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Game12789Activity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>